.installment {
    min-height: 35px;
    background-color: #EDEDF0;
    width: 100%;
    display: flex;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    cursor: pointer;
    flex-wrap: wrap;
    gap: 10px;
}

.installment:hover {
    background-color: #CACAD2;
}

.installment-conciliated:hover {
    background-color: #EDEDF0;
    cursor: default;
}

.icon-remove-conciliation {
    cursor: pointer;
}

.chosen-installment {
    background-color: #EF7D00;
    cursor:default;
}

.chosen-installment:hover {
    background-color: #EF7D00;
}

.available-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conciliated-icons {
    min-width: 50px;
}

.icon-conciliated-default {
    font-size: 25px;
}

.icon-conciliated {
    color: #FF5722;
}

.icon-not-conciliated {
    color: #00796B;
}

.spinner-options {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-found-options {
    text-align: center;
}