.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1); /* Cor da borda externa */
    border-top: 4px solid #EF7D00; /* Cor da borda superior */
    border-radius: 50%; /* Faz o spinner ser um círculo */
    width: 40px; /* Largura do spinner */
    height: 40px; /* Altura do spinner */
    animation: spin 1s linear infinite; /* Animação aplicada ao spinner */
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg); /* Inicia com a rotação em 0 graus */
    }
    100% {
      transform: rotate(360deg); /* Rotação completa de 360 graus */
    }
  }
  