.sales-file-select {
    display: none;
}

.receipts-file-select {
    display: none;
}

.safra-window {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.buttons-bar {
    display: flex;
    gap: 5px
}